<div id="cart_popover_inner">
    {{#checklength cart.cart_items 0}}
        <div id="cart_popover_items" class="sscroll" data-simplebar>
            {{#each cart.cart_items}}

                <div class="row cart-row">
                    <div class="col-4">
                        <div class="cart-img">
                            <a href="/perfume/{{this.product.products_category.category.slug}}">
                                <img src="/{{this.product.imageURL}}"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-8">
                        <p class="cart_popover_product_title">
                            {{#if this.product.meta_data.aromat_name}}
                                {{this.product.meta_data.aromat_name}}
                            {{else}}
                                {{this.product.product_name}}
                            {{/if}}
                        </p>
                        <p class="cart_popover_product_hint">
                            {{this.product.meta_data.hint}}
                        </p>
                        <p class="cart_popover_product_volume">
                            {{this.product.meta_data.volume}}{{this.product.meta_data.measure}}
                        </p>
                        <div>
                            {{#if this.kit.length}}
                                {{#each this.kit}}
                                    <div>
                                        <b class="cart_popover_kit_el">{{this.category_name}}</b>
                                    </div>
                                {{/each}}
                            {{/if}}
                        </div>
                    <p class="cart_popover_product_price">
                        {{#if this.product.promoPrice}}
                            <span style="color: red"> {{this.product.promoPrice}}</span> руб.
                        {{else}}
                            {{this.product.price}} руб.
                        </p>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12"></div>
            <div class="col-md-8 col-sm-12">
                <a href="/cart" class="btn btn-lg btn-block btn-cart-popover">Оформить заказ</a>
            </div>
        </div>
    {{else}}
        <div class="cart-msg">
            Корзина пуста
        </div>
    {{/checklength}}
</div>
