<form method="GET" action="/filter/">

    <!--<form method="get" action="filter/{{id}}">-->
    <!--<form method="get" action="/filter/">-->
    <div class="row">


        <div class="col group-filter ">
            <h5>КЛАСС АРОМАТА</h5>
            <ul class="filter-list d-flex flex-column">
                {{#each aromats_properties}}
                    {{#ifeq this.argument_name 'Группа'}}
                        {{#each this.aromats_properties_values}}
                            <li>
                                <input type="checkbox" id="value{{id}}" name="id" value={{id}}>
                                <label for="value{{id}}">{{value_name}}</label>
                            </li>
                        {{/each}}
                    {{/ifeq}}
                {{/each}}

            </ul>

        </div>
        <div class="divider-vertical"></div>
        <div class="col season-day-time-filter">
            <h5>ВРЕМЯ ГОДА И СУТОК</h5>
            <ul class="filter-list d-flex flex-column">
                {{#each aromats_properties}}
                    {{#ifeq this.tag 'seasonal'}}
                        {{#each this.aromats_properties_values}}
                            <li>
                                <input type="checkbox" id="value{{id}}" name="id" value={{id}}>
                                <label for="value{{id}}">{{value_name}}</label>
                            </li>
                        {{/each}}
                    {{/ifeq}}
                {{/each}}
            </ul>
        </div>
        <div class="divider-vertical"></div>

        <div class="col zodiak-filter">
            <h5>ЗНАКИ ЗОДИАКА</h5>
            <ul class="filter-list d-flex flex-column">
                {{#each aromats_properties}}
                    {{#ifeq this.argument_name 'Знак зодиака'}}
                        {{#each this.aromats_properties_values}}
                            <li>
                                <input type="checkbox" id="value{{id}}" name="id" value={{id}}>
                                <label for="value{{id}}">{{value_name}}</label>
                            </li>
                        {{/each}}
                    {{/ifeq}}
                {{/each}}
            </ul>
        </div>
        <div class="divider-vertical"></div>

        <div class="col durability-filter">
            <h5>СТОЙКОСТЬ</h5>
            <ul class="filter-list d-flex flex-column">
                {{#each aromats_properties}}
                    {{#ifeq this.argument_name 'Стойкость'}}
                        {{#each this.aromats_properties_values}}
                            <li>
                                <input type="checkbox" id="value{{id}}" name="id" value={{id}}>
                                <label for="value{{id}}">{{value_name}}</label>
                            </li>
                        {{/each}}
                    {{/ifeq}}
                {{/each}}
            </ul>
        </div>
        <hr>
    </div>

<div class="d-flex flex-column">
    <!--<div class="sort-menu align-self-center">-->
        <!--&lt;!&ndash;<label class="my-1 mr-2 center-block mt-3 mb-3" for="inlineFormCustomSelectPref2">Сортировка</label>&ndash;&gt;-->
        <!--<select name="order" class="custom-select my-1 mr-sm-2 form-control" id="inlineFormCustomSelectPref2">-->
            <!--<option selected value="ASC">Порядок</option>-->
            <!--<option value="ASC">А-Я</option>-->
            <!--<option value="DESC">Я-А</option>-->
        <!--</select>-->
    <!--</div>-->
    <div class="submit-filter center-block mt-3 mb-3 align-self-center">
        <input class="shut mr-2" type="submit" value="Закрыть">
        <input class="submit ml-2" type="submit" value="Показать">
    </div>
</div>

</form>
