{{> layouts/head }}
{{> layouts/header }}
<hr>
<div>
<div class="container" id="discovery-kit">
    <div id='relative' class="row">
        <div class="col">
            {{> breadcrumbs}}
        </div>
    </div>
    <hr/>
    <div class="row product-info-container">
        <div class="col-12 col-md-5">


            <div class="images-container">

                <div class="product-cover text-center">
                    <img class="single-product-image" src="              https://montaleparfums.com/themes/montale/assets/img/sample_box_page.jpg
              " alt="Discovery kit" title="Discovery kit" width="248" itemprop="image">
                </div>


            </div>

        </div>
        <div class="col-12 col-md-6">
            <h1 itemprop="name" class="page-title">Discovery Kit</h1>

            <div id="product-description" itemprop="description"><p class="CorpsA">The Montale house gives you the opportunity to discover the most iconic fragrances with a sampling kit (5x2ml) you can customize at will.<span>&nbsp; </span></p>
                <p class="CorpsA">Just select your 5 samples and add them to your cart.</p></div>



            <section class="product-customization py-0">
                <div class="row mb-1">
                    <div class="col">
                        <select class="form-control form-control-lg col" id="sample_1">
                            {{#each categories}}
                                <option value="{{this.id}}">{{this.category_name}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>

                <div class="row mb-1">
                    <div class="col">
                        <select class="form-control form-control-lg col" id="sample_2">
                            {{#each categories}}
                                <option value="{{this.id}}">{{this.category_name}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>

                <div class="row mb-1">
                    <div class="col">
                        <select class="form-control form-control-lg col" id="sample_3">
                            {{#each categories}}
                                <option value="{{this.id}}">{{this.category_name}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>

                <div class="row mb-1">
                    <div class="col">
                        <select class="form-control form-control-lg col" id="sample_4">
                            {{#each categories}}
                                <option value="{{this.id}}">{{this.category_name}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>

                <div class="row mb-1">
                    <div class="col">
                        <select class="form-control form-control-lg col" id="sample_5">
                            {{#each categories}}
                                <option value="{{this.id}}">{{this.category_name}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>

                <div>
                    <table class="table" id="products_inside">
                        <tbody><tr>
                            <td>Объем: <b>5 x 2 мл</b></td>
                            <td><b class="price">3000</b> руб</td>
                            <td>
                                <button class="buy_button" onclick="addKit('{{product.id}}')" type="submit">КУПИТЬ
                                </button>
                            </td>

                        </tr>

                        </tbody></table>
                </div>
            </section>

            <div class="horizontal-separator d-md-none w-100"></div>
        </div>
    </div>
</div>
</div>

<script>
    function addKit(id){
        let product = id;
        let params = {items:[$('#sample_1').val(),$('#sample_2').val(),$('#sample_3').val(),$('#sample_4').val(),$('#sample_5').val()]};
        addToCart(product,params);
    }
</script>

{{> layouts/footer }}
